<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить/Изменить/Удалить счет</title>
</head>
<body>
<h1>Добавить счет</h1>
<form action="/api/accounts" method="post">
    <label for="accountName">Название счета:</label>
    <input type="text" id="accountName" name="accountName" required>

    <label for="initialBalance">Начальный баланс:</label>
    <input type="number" id="initialBalance" name="initialBalance" required>

    <button type="submit">Добавить</button>
</form>

<h1>Изменить/Удалить счет</h1>
<form action="/api/accounts/{accountId}" method="post">
    <label for="updatedAccountName">Новое название счета:</label>
    <input type="text" id="updatedAccountName" name="updatedAccountName" required>

    <label for="updatedInitialBalance">Новый начальный баланс:</label>
    <input type="number" id="updatedInitialBalance" name="updatedInitialBalance" required>

    <button type="submit">Изменить</button>
</form>

<form action="/api/accounts/{accountId}" method="delete">
    <button type="submit">Удалить</button>
</form>
</body>
</html>