<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить/Изменить/Удалить транзакцию</title>
</head>
<body>
<h1>Добавить транзакцию</h1>
<form action="/api/transactions" method="post">
    <label for="amount">Сумма:</label>
    <input type="number" id="amount" name="amount" required>

    <label for="comment">Комментарий:</label>
    <input type="text" id="comment" name="comment" required>

    <label for="date">Дата:</label>
    <input type="date" id="date" name="date" required>

    <button type="submit">Добавить</button>
</form>

<h1>Изменить/Удалить транзакцию</h1>
<form action="/api/transactions/{transactionId}" method="post">
    <label for="updatedAmount">Новая сумма:</label>
    <input type="number" id="updatedAmount" name="updatedAmount" required>

    <label for="updatedComment">Новый комментарий:</label>
    <input type="text" id="updatedComment" name="updatedComment" required>

    <label for="updatedDate">Новая дата:</label>
    <input type="date" id="updatedDate" name="updatedDate" required>

    <button type="submit">Изменить</button>
</form>

<form action="/api/transactions/{transactionId}" method="delete">
    <button type="submit">Удалить</button>
</form>
</body>
</html>