<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя бухгалтерия</title>
</head>
<body>
<h1>Баланс счетов</h1>
<table>
    <thead>
    <tr>
        <th>Счет</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    <!-- Вывод счетов -->
    <tr>
        <td>Счет1</td>
        <td>1000.00</td>
    </tr>
    <tr>
        <td>Счет2</td>
        <td>500.00</td>
    </tr>
    </tbody>
</table>

<h1>Список транзакций</h1>
<table>
    <thead>
    <tr>
        <th>Сумма</th>
        <th>Комментарий</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <!-- Вывод транзакций -->
    <tr>
        <td>100.00</td>
        <td>Покупка продуктов</td>
        <td>2023-01-15</td>
    </tr>
    <tr>
        <td>-50.00</td>
        <td>Заправка топливом</td>
        <td>2023-01-20</td>
    </tr>
    </tbody>
</table>
</body>
</html>